/* S0 reset样式 + 清除浮动 */
* {margin: 0; padding: 0; text-decoration: none; box-sizing: border-box;}

.clearfix::after {
	display: block;
	content: '';
	clear: both;
}


/* container居中显示 */
.slider {margin: 0 auto;}


/* S1 让图片显示在一行 */
.slider-item { float: left; width: 400px; height: 300px; }

.slider a img{ width: 100%; height: 100%;}


/* S2 只显示一张图片，隐藏其他图片 */
.pic-wrap { width: 2400px; height: 300px;}

.slider { width: 400px; height: 300px; overflow: hidden; }
/*

/* S3 显示圆形分页器在一行 + 绝对定位在整个容器内 */
.paga span{
	float: left;
	margin: 6px;

	width: 12px;              
	height: 12px;
	border: 1px solid #ddd;
	border-radius: 50%;

	cursor: pointer;         
}

.slider { position: relative; }
.paga { position: absolute; left: 40%; bottom: 3%; z-index:2;}

.paga span.on{
	background-color: #00BFFF;
}


/* S4 左右显示箭头 */
.arr-wrap {
	display: none;
	position: absolute;
	top: 40%;
	width: 100%;
	z-index: 2;
}

.arr-wrap .prev {
	position: absolute;
	left: 5%;
}

.arr-wrap .next {
	position: absolute;
	right: 5%;
}

.arrow{
	width: 40px;
	line-height: 40px;

	font-size: 26px;
	padding: 0 5px;
	text-align: center; 
	font-weight: bold;   

	background-color: RGBA(255,255,255,.3);
	color: #fff;
}

.slider:hover .arr-wrap { display: block;}
.arrow:hover { background-color: RGBA(255,255,255,.7);}


/* S5 绝对定位以控制轮播图片的切换*/
.pic-wrap{ position: absolute; z-index: 1; }


/* 总结以上内容，即:

* {margin: 0; padding: 0; text-decoration: none; box-sizing: border-box;}

.clearfix::after {
	display: block;
	content: '';
	clear: both;
}


.slider {
	position: relative;
	margin: 0 auto;
	width: 400px;
	height: 300px;
	overflow: hidden;
}

.pic-wrap {
	position: absolute; 
	z-index: 1;

	width: 2400px; 
	height: 300px;
}


.pic-wrap .slider-item { 
	float: left; 
	width: 400px; 
	height: 300px; 
}

.slider-item img{ width: 100%; height: 100%;}


.paga { 
	position: absolute; 
	left: 40%; 
	bottom: 3%; 
	z-index:2;
}

.paga span{
	float: left;
	margin: 6px;

	width: 12px;              
	height: 12px;
	border: 1px solid #ddd;
	border-radius: 50%;

	cursor: pointer;         
}

.paga span.on{
	background-color: #00BFFF;
}


.arr-wrap {
	display: none;
	position: absolute;
	top: 40%;
	width: 100%;
	height: 0;   //如果设置高度过高，可能会盖住下方分页器
	z-index: 2;
}

.arr-wrap .prev {
	position: absolute;
	left: 5%;
}

.arr-wrap .next {
	position: absolute;
	right: 5%;
}

.arrow{
	width: 40px;
	line-height: 40px;
	
	font-size: 26px;
	padding: 0 5px;
	text-align: center;    

	background-color: RGBA(255,255,255,.3);
	color: #fff;
}

.slider:hover .arr-wrap { display: block;}
.arrow:hover { background-color: RGBA(255,255,255,.7);}
*/