{
  "presets": [
    ["@babel/preset-env", {
      "targets" : {
        "chrome": "64"
      },

      "useBuiltIns": "usage",
    }],

  ],

  "plugins": [
    ["@babel/plugin-transform-runtime", {
        "corejs": 2,
      }
    ]
    
  ],


}